body{
    min-height: 100vh;
    margin: 0;
}

#container{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    height: 100vh;
}

.iconHeader{
    width: 5vw;
    fill: white;
}

.icon{
    width: 2vw;
    fill: white
}

#sidebarContainer{
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: rgb(68, 92, 200);
    color: white;
    padding: 20px;
}

#sidebardHeaderContainer{
    display: flex;
    align-items: center;
}

#sidebarHeader{
    font-size: 32px;
}

#headerContainer{
    grid-column: 2 / 6;
    grid-row: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 7px 2px -2px rgba(99, 99, 99, 0.2);
    position: relative;
}

#allOptions{
    display: grid;
    gap: 8vh;
}

.sidebarOptions{
    display: grid;
    gap: 2vh;
}

.optionContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}


#mainContainer{
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    background-color: rgb(232, 232, 232);
}